<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body{
    background-color: yellow;
    color: red;
    text-align: center;
}

p{
    font-size: clamp(18px, 2.5vw, 24px);
}

h1{
    font-size: clamp(28px, 4vw, 40px);
}

</style>

</head>
<body>

<h1>Considered Risk</h1>

<p>
Take a Glance of the roullette<br>
Watch closely as its rotates<br>
Pick one number, Pick a few<br>
you better think on number new<br>
Cause you should Split ur bettings<br>
Or maybe bro change ur gamble<br>
Somthing else, so much facinating to handle,<br>
Market Stock,<br>
stable or not stable<br>
It might be your chance<br>
You'll maybe be able<br>
Profit some dolar or even dozen of them,<br>
You can even do it in a short-time on the<br>
short-term,<br>
SO<br>
I added this tools for you to invest your money Most wisely<br>
Most calculated<br>
Most trusty(indications)<br>
Cause, see<br>
Its a practical manner<br>
"There is time to make war,<br>
There is time for making peace"<br>
There is times to ask questions<br>
Theres some times you should seek<br>
Theres some time to be foolish<br>
There some times you can sink<br>
**777**<br>
But Now time is RUSH-HOUR my mate<br>
Now time is the time to take risk<br>
& keep Faith 🤞
</p>

</body>
</html>